.HomePage{
    .header-text{
        margin: 20px;
        font-size: 3rem;
    }
    .home-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
   
}